/* ========== HEADER ========== */
#header {
  height: 112px;
  padding: 0 40px;
  border-bottom: 1px solid var(--color-border);
  background-color: var(--color-bg-light);

  display: flex;
  align-items: center;
  justify-content: space-between;
  position : fixed;
  width: 100%;
  top:0;
  left:0; 
  z-index: 1000;
}

body{
  padding-top: 112px;
}
/* LOGO */
.header__logo img {
  height: 60px;          /* 🔥 tăng từ 32px → 52px */
  object-fit: contain;
  transition: transform 0.25s ease;
}

/* thêm nhẹ cho xịn */
.header__logo img:hover {
  transform: scale(1.05);
}

/* MENU */
.header__nav {
  flex: 1;
  display: flex;
  justify-content: center;
}

.header__menu {
  display: flex;
  gap: 40px;
}

.header__menu-item a {
  font-size: 1.3rem;
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;
  position: relative;
  padding-bottom: 4px;
}

/* underline hover  */
.header__menu-item a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 1px;
  background-color: var(--color-primary);
  transition: width 0.3s ease;
}

.header__menu-item a:hover::after {
  width: 100%;
}

/* ICONS */
.header__icons {
  display: flex;
  align-items: center;
  gap: 20px;
  font-size: 1.6rem;
  cursor: pointer;
}

.header__icons i {
  transition: opacity 0.2s ease;
}

.header__icons i:hover {
  opacity: 0.6;
}

/* SEARCH */

.header__search-box{
  width:260px;
  height:55px;
  background-color: var(--color-secondary);
  border-radius: 14px;
  display: flex;
  align-items: center;
  padding :0 16px;
  box-shadow: var(--shadow-soft);
  margin-right:20px;
}

.header__search-box input{
  flex :1;
  font-size: 15px;
  color: var(--color-text);
  border: none;   
  outline: none;   
  min-width: 0;
}

.header__search-box input::placeholder{
  color: var(--color-text-light);
}

.header__search-box i{
  font-size: 18px;
   color :var(--color-primary);
  cursor: pointer;
}


/* ========== CONTENT ========== */
#content {
  max-width: 1200px;
  margin: 0 auto;
  padding: 72px 20px;
  display: grid;
  grid-template-columns:  1fr 1fr;
  gap : 80px;
  
}
/* ========== FOOTER ========== */
#footer {
  
  background-color: var(--color-bg-light);
  font-size: 1.4rem;
}

.footer__top{
  
  background-color: var(--color-bg-light);
  padding: 15px 30px 15px 18px 
}

.footer__top .footer__section h4{
    font-size: 16px;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.footer__section a[href^="tel"] {
  color: var(--color-primary);
}

.footer__top  p{
  margin-bottom: 6px;
}

.footer_content{
  max-width: 1200px;
  margin:auto;
  display:grid;
  grid-template-columns: 1fr 1fr;
  padding : 15px 0px 10px 0px;
}

.footer__section h4 {
  font-size: 15px;
  margin-bottom: 12px;
  text-transform: uppercase;
}

.footer__section ul{
  list-style:none;
  padding:0;
  margin:0;
}

.footer__section ul li{
  margin-bottom: 8px;
}

.social-icons{
  display:flex;
  margin-bottom: 20px;
  font-size:22px;
  gap:16px;
}

.social-icons i {
  cursor:pointer;
}

.footer__bottom{
  border-top:1px solid var(--color-text);
  text-align: center;
  font-size:13px;
  padding:20px;
}

.footer__bottom p{
  margin:0;
}